* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/* ESTRUCTURA */

.divPadre {
    display: grid;
    grid-template-areas:
        "divHeader divHeader divHeader"
        "divContenido divContenido divContenido"
        "divFooter divFooter divFooter";
}

.divContenido {
    grid-area: divContenido;
}

.divHeader {
    background-color: #E9E5D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.15rem solid #362706;
    grid-area: divHeader;
}

.divDestacado {
    background: linear-gradient(180deg, rgba(54, 39, 6, 1) 0%, rgba(54, 39, 6, 0.639093137254902) 50%, rgba(233, 229, 214, 1) 100%);
    display: flex;
    justify-content: space-between;
}

.divArticulos {
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
    background-color: #E9E5D6;
}

.divFooter {
    background-color: #362706;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px #362706;
    grid-area: divFooter;
}

/* LOGO */

.logo {
    width: 15rem;
    display: flex;
    padding: 0.5rem;

    img {
        width: 15rem;
        transition: transform 0.5s;

        &:hover {
            transform: rotate(-4deg);
        }
    }
}

/* MENU */

.menu {
    margin-right: 1rem;

    li {
        display: inline-block;

        a {
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 0.5rem;
            font-size: 1.5rem;
            font-family: IM Fell English SC;
            font-weight: bold;
            color: #362706;
            padding: 0.5rem;

            &:hover {
                border-bottom: 0.2rem solid #464E2E;
                color: #464E2E;
            }
        }
    }
}

/* DESTACADO */

.imgDestacado {
    padding: 1rem;

    img {
        width: 21rem;
    }
}

.datosDestacado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    h1 {
        font-family: IM Fell English SC;
        font-weight: bold;
        font-size: 2.5rem;
        color: #E9E5D6;
    }

    .infoDestacado {
        margin-top: 2rem;
    }

    .botonesDestacado {
        margin-top: 3rem;

        .btnPrimario,
        .btnSecundario {
            margin: 0 1rem;
        }
    }

    .puntosDestacado {
        margin-top: 0.5rem;

        img {
            width: 2rem;
            margin: 0.09rem;
        }
    }
}

.videoDestacado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    iframe {
        width: 29rem;
        box-shadow: 0px 0px 15px #E9E5D6;
    }
}

/* ARTICULOS */

.articulo {
    box-shadow: 0px 0px 4px #464E2E;
    background-color: white;
    width: 18rem;
    border-radius: 1rem;
    transition: box-shadow 0.15s, transform 0.15s;

    &:hover {
        box-shadow: 5px 5px 5px #362706;
        transform: translateY(-0.5rem);
    }

    h2 {
        font-family: IM Fell English SC;
        font-size: 1.3rem;
        color: #362706;
        text-transform: uppercase;
    }

    .datosArticulo {
        padding: 1rem;
    }

    .imgArticulo {
        text-align: center;
        padding-top: 1rem;

        img {
            width: 12rem;
        }
    }

    .puntosArticulo img {
        width: 1.5rem;
    }

    .infoArticulo {
        margin: 1rem 0;
    }

    .botonesArticulo {
        display: flex;
        justify-content: space-between;
    }

    .btnPrimario {
        font-size: 1.1rem;
        padding: 0.5rem 0.8rem;
    }

    .btnSecundario {
        font-size: 1.1rem;
        padding: 0.5rem 0.8rem;
    }
}

/* FOOTER */

.divFooter {
    img {
        width: 2.5rem;
        margin: 0 0.5rem;
    }

    p {
        color: #E9E5D6;
    }
}

/* PAGINA NOSOTROS */

.sobreNos {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ACB992;

    .textoSobreNos {
        background-color: #E9E5D6;
        border-top-right-radius: 200px;
        border-bottom-left-radius: 200px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px 90px;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        transition: transform 0.5s, box-shadow 0.5s;

        &:hover {
            box-shadow: -8px 9px 4px #362706;
            transform: translateY(-2rem);
        }

        p {
            font-size: 14pt;
            color: #362706;
        }

        h1 {
            font-size: 30pt;
            font-family: IM Fell English SC;
            color: #362706;
            margin-bottom: 15px;
        }

        h3 {
            text-align: end;
            font-size: 25pt;
            font-family: IM Fell English SC;
            color: #362706;
            margin-top: 25px;
        }
    }

    .personasSobreNos {
        background-color: #362706;
        text-align: center;
        color: #E9E5D6;
        border-radius: 15px;
        padding: 0 30px;

        .persona {
            margin: 20px auto;

            h2 {
                font-size: 20pt;
                font-family: IM Fell English SC;
                margin-bottom: 10px;
            }

            p {
                font-size: 11pt;
            }

            img {
                width: 100px;
            }
        }
    }
}

/* PAGINA CONTACTO */

.contacto {
    background-color: rgb(172, 185, 146);
    height: 100vh;
    display: flex;
    justify-content: center;

    .formContacto {
        width: 500px;
        border: 2px solid #362706;
        border-radius: 10px;
        background-color: #E9E5D6;
        color: #362706;
        font-weight: bold;
        font-size: 20pt;
        padding: 10px 30px;

        legend {
            font-family: IM Fell English SC;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 20px;
        }

        label {
            font-family: IM Fell English SC;
        }

        .campoForm {
            border: 1px solid #362706;
            border-radius: 3px;
            font-size: 15pt;
            width: 90%;
            padding-left: 5px;
        }
    }

    .infoContacto {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .datosContacto {
            background-color: #E9E5D6;
            border: 2px solid #362706;
            width: fit-content;
            height: fit-content;
            padding: 20px;
            margin: 0px 15px;
            border-radius: 10px;

            .dato {
                display: flex;
                align-items: center;

                p {
                    font-family: Roboto;
                    font-size: 20pt;
                    font-weight: bold;
                    color: #362706;
                }

                img {
                    width: 50px;
                    margin: 15px 15px;
                }
            }
        }
    }
}

/* BOTONES */

.btnPrimario {
    background-color: #464E2E;
    border-radius: 0.4rem;
    border: none;
    color: #E9E5D6;
    font-family: IM Fell English SC;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    box-shadow: 0px 0px 4px #362706;
    transition: all 0.15s;

    &:hover {
        background-color: #F8B84E;
        border: none;
        color: #362706;
        cursor: pointer;
        transform: scale(1.05);
    }
}

.btnSecundario {
    background-color: transparent;
    border-radius: 0.4rem;
    border: none;
    color: #464E2E;
    font-family: IM Fell English SC;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    transition: all 0.15s;

    &:hover {
        background-color: #ACB99280;
        color: #362706;
        cursor: pointer;
        transform: scale(1.05);
    }
}

/* MEDIA QUERYS */

@media only screen and (max-width: 400px) {

    .divPadre {
        display: grid;
        grid-template-areas:
            "divHeader"
            "divContenido"
            "divFooter";
    }

    .logo img {
        width: 12rem;
    }

    .menu a {
        font-size: 1rem;
    }

    iframe {
        display: none;
    }

    .divDestacado {
        flex-direction: column;

        .botonesDestacado {
            text-align: center;
        }

        .btnPrimario,
        .btnSecundario {
            font-size: 1.2rem;
        }

        .imgDestacado {
            text-align: center;
        }
    }

    .divArticulos {
        flex-direction: column;
        align-items: center;

        .articulo {
            margin-top: 1rem;
        }
    }

    .divFooter {
        img {
            width: 1.6rem;
        }
    }

    .sobreNos {
        flex-direction: column;

        .textoSobreNos {
            margin: 0;
            border-radius: 15px;
        }

        p {
            text-align: left;
        }

        .personasSobreNos {
            margin-top: 10px;
        }
    }
}